body {
  background-color: #121e27;
}

.Main-Chat{
  display: flex;
  justify-content:space-between;
}
.Room-block{
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 10px 10px;
  width: auto;
  height: auto;
  background-color: aqua;
  position:absolute;
  z-index: 1;
  left: 10%;
}
.Chat-App {
  display: flex;
  width: 100vh;
  height: 90vh;
  border-radius: 5px;
  border: 1px solid #1f3144;
  overflow-y: scroll;
  background-color: #20394c;
}

.message {
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 50%;
  height: auto;
  background-color: #294357;
}
.message .user {
  position: relative;
  width: 100%;
  height: 20%;
  font-style: bold;
  font-size: 10px;
  background-color: #172835;
  margin-bottom: 10px;
  border-radius: 2px;
}

.message .current-user {
  position: relative;
  width: 100%;
  height: 20%;
  font-style: bold;
  font-size: 10px;
  background-color: #172835;
  margin-bottom: 10px;
  border-radius: 2px;
  color: aqua;
}

/* FORM */
.new-message-form {
  position: fixed;
  margin: 0;
  bottom: 5vh;
  width: 100vh;
}

.new-message-input {
  padding: 5px;
  border: 1px solid #294357;
  border-radius: 3px;
  width: 85%;
}

.send-button {
  width: 13%;
  position: relative;
  padding: 5px;
  border-radius: 3px;
  background-color: #294357;
  border: 1px solid #467191;
}
